* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root {
    --accent-color: #15b977;

    --color-green: #15b977;

    --color-red: #dc3545;
    --color-blue: #18b2de;

    --color-black: #000;

    --color-white: #fff;
    --color-grey: #9fa1a3;
    --color-darkgrey: #424242;
    --color-lightgrey: #f3f4f6;

    --title-color: #000;
    --text-color: #000;

    --bg-color: #171717;
    --bg-color-2: #2f2f2f;

    --grd: linear-gradient(180deg, #424242, var(--bg-color));

    --border-radius: 5px;
    --transition: all 0.2s ease;
}
a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    transition: var(--transition);
    outline: none;
}
ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
p {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
span {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    font-family: inherit;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    transition: var(--transition);
}
button:hover,
button:focus,
button:active {
    outline: none;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    background: var(--color-white);
}
/* ? general style */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(var(--vh, 1vh) * 100);
}
.container {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
}
.main {
    height: 100%;
    flex-grow: 1;
}
.color-red {
    color: var(--color-red);
}
.btn {
    padding: 8px 16px;
    color: var(--color-black);
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    background: #a4edc3;
    border: 1px solid var(--accent-color);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 10;
}
.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 200%;
    background: linear-gradient(
        180deg,
        transparent 50%,
        var(--accent-color) 50%
    );
    background: linear-gradient(180deg, transparent 50%, #44e188 50%);
    transition: var(--transition);
}
.btn:hover::before {
    transform: translateY(-50%);
}

.btn-2 {
    border: 1px solid var(--color-green);
    background: #a4edc3;
}
.btn-2::before {
    background: linear-gradient(
        180deg,
        transparent 50%,
        var(--color-green) 50%
    );
}
.link {
    padding: 4px 0;
    color: var(--color-blue);
    position: relative;
    overflow: hidden;
}
.link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-blue);
    transform: translateX(-110%);
    transition: var(--transition);
}
.link:hover::before {
    transform: translateX(0);
}
/* ? custom scrollbar styling */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-grey);
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-grey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-2);
}

/* ? header */

.header {
    padding: 20px 0;
}
/* ? secret */

.secret {
    padding: 10vh 0 0px;
}

/* ? secret-info */
.secret-info {
    display: flex;
    flex-direction: column;
    gap: 100px;

    /* display: none; */
}
.secret-info.hidden {
    display: none;
}
.secret-info__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.secret-info__text {
    font-size: 16px;
}

.form-secret-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    max-width: 500px;
    margin: 0 auto;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form-label {
    color: var(--color-grey);
}
.form-label-title {
    font-size: 18px;
    color: var(--accent-color);
    text-align: center;
}
.form-input {
    all: unset;
    border: 1px solid var(--color-darkgrey);
    border-radius: var(--border-radius);
    padding: 5px 10px;
}
.form-group.error .form-input {
    border: 1px solid var(--color-red);
}
.secret__btn-show {
    max-width: 250px;
    width: 100%;
    font-size: 17px;
}
.message {
    color: var(--color-red);
}

/* ? preloader */
.preloader-secret {
    display: none;
    height: 200px;
}
.preloader-secret.show {
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-spin {
    display: block;
    margin: 0 auto;
}
.svg-spin-circle-1,
.svg-spin-circle-2,
.svg-spin-circle-3 {
    fill: var(--color-green);
    animation: svg-spin-anim 1s linear infinite;
}
.svg-spin-circle-2 {
    animation-delay: 0.2s;
}
.svg-spin-circle-3 {
    animation-delay: 0.4s;
}

@keyframes svg-spin-anim {
    85%,
    100% {
        r: 3px;
        opacity: 1;
    }
    50% {
        r: 2px;
        opacity: 0.1;
    }
}
/* ? no-secret */
.no-secret {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.no-secret-icon {
    color: var(--color-red);
}
.no-secret__title {
    display: block;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}
.no-secret-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.no-secret__link {
    font-size: 17px;
}
/* ? secret-show */
.secret-show {
    display: none;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
}
.secret-show.show {
    display: flex;
    animation: opacity-anim 0.4s ease 0.2s forwards;
}
@keyframes opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.secret-show__title {
    display: block;
    font-size: 20px;
}
.secret-show-wrap {
    position: relative;
}
.secret-show-wrap::before {
    display: none;
    content: attr(data-copy-text) "";
    position: absolute;
    color: var(--color-green);
    top: -24px;
    right: 0;
}
.secret-show-wrap.copied::before {
    display: block;
}
.secret-show-wrap.copied .secret-show-textarea {
    color: var(--color-green);
}

.secret-show-textarea {
    display: block;
    resize: none;
    width: 100%;
    border: 1px solid var(--color-darkgrey);
    border-radius: var(--border-radius);
    background: var(--color-lightgrey);
    padding: 10px;
    outline: none;
    max-height: 300px;
}
.secret-show__text {
    font-size: 14px;
    color: var(--color-grey);
}
.secret__btn-copy {
    align-self: flex-start;
}
/* ? footer */
.footer {
    padding: 50px 0 10px;
}

.footer-bottom {
    border-top: 1px solid var(--color-black);
    padding: 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.copiright {
    font-size: 14px;

    color: var(--color-black);
}

.website {
    font-size: 15px;
}

@media (max-width: 600px) {
    .no-secret__title {
        font-size: 20px;
    }
    .secret-info__text {
        font-size: 15px;
    }
}

/* ? form-group-pass */
.form-group-pass {
    position: relative;
    width: 100%;
}
.btn-pass-show {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: var(--color-grey);
}
.btn-pass-show :hover {
    color: var(--accent-color);
}
.btn-pass-show-icon svg {
    display: block;
    transition: var(--transition);
}
.btn-pass-show-icon-show {
    display: none;
}
.btn-pass-show.show .btn-pass-show-icon-show {
    display: block;
}
.btn-pass-show.show .btn-pass-show-icon-hidden {
    display: none;
}
.form-group-pass input {
    padding-right: 34px;
    box-sizing: border-box;
    width: 100%;
}
